$primary-bg-dark: #1a1a1a;
$primary-bg-light: #f5f5f5;
$secondary-bg: #232323;
$white: #ffffff;
$primary: #e74e43;

$device-mobile-max: 1199px;

@mixin rewrite-mobile($resolution: $device-mobile-max) {
  $finalResolution: $resolution;
  @if($resolution) {
    $finalResolution: $resolution
  }

  @media all and (max-width: $finalResolution) {
    @content
  }
}

.mobile-hidden {
  @include rewrite-mobile {
    display: none;
  }
}