@use './styles/variables.scss' as *;

.App {
  min-height: max-content;
  width: 100%;
  margin: 0;
}

.container-app
{
  &:not(.full) {
    max-width: 1440px;
    margin: 0 auto;
    z-index: 10;
  }
}
