@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/variables.scss';

* {
  box-sizing: border-box;
  // border: 1px dashed red; //temp
}

#root {
  height: 100%;
  overflow-x: hidden;
}

@layer base {
  html {
    font-family: Inter, sans-serif;
  }
}

.mobile__container {
  padding: 1rem;
  padding-bottom: 1.5rem;
}

.email-form {
  display: flex;
  height: 46px;
  position: relative;
  overflow: hidden;

  .button {
    height: 100%;
    display: inline-block;
    padding: 9px 15px;
    background-color: $primary;
    color: white;
    border: none;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 24px;
    position: absolute;
    right: 0px;
  }

  .input {
    display: inline-block;
    width: 100%;
    margin-bottom: 0px;
    padding: 12px 16px;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    vertical-align: middle;
    background: #373737d0;
    color: white;
    border-radius: 24px;
    border: none;
    outline: none;

    &::placeholder {
      color: white;
    }
  }

  .error {
    color: $primary;
  }

  &.start {
    height: auto;
  }
}

@layer utilities {
  @layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}


html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
  scroll-behavior: smooth;
}

body {
  // overflow-x: hidden;
  background-color: white;
}



input.typed-input {
  caret-color: $primary;
}

//NOTE: Not found page
.not-found-page {
  background-color: #000;
  min-height: 100vh;
}

.not-found-image {
  @media (max-width: $device-mobile-max) {
    width: 323px;
    height: 323px;
  }
}


.animation_404__block {
  svg {
    path {
      fill: #fff;
    }
  }
}

.cookie_container {
  bottom: 139px !important;
  right: 48px !important;

  @include rewrite-mobile {
    bottom: 0 !important;
    right: 0 !important;
  }
}

.montain__bg__img {
  width: 100%;
  height: auto;
  max-width: 375px;
  margin: 0 auto;
  position: relative;
  min-width: 100%;

}

.bottom__separator {
  position: relative;
  &.dark {
    border-color: #201E1E;
  }
  &.light {
    border-color: #E6E5E5;
  }
  &:after {
    content: '';
    position: absolute;
    width: calc(100% + 1.4rem);
    left: 0;
    bottom: 0;
    border-bottom: 1px solid;
    border-color: inherit;
  }
  &.offset_icon {
      &:after {
        left: 64px;
      }
  }
}
